# Copia este archivo a .env y completa los valores.
# cp .env.example .env

# Lo da el facilitador al empezar el taller (una sola vez para toda la sala)
VITE_MYSTERY_EXCHANGE_CONTRACT_ID=CD3FN3KP4VLL5O7MDLYBUATU7K4ARPPGMQAOMOI2ZPJISUXDONWA7JNL

# El CONTRACT_ID que te imprime scripts/deploy-testnet.sh (el tuyo, propio)
VITE_MYSTERY_TOKEN_CONTRACT_ID=CANNIBO3OKY4ZLASXTZX34M33KPQJNDRRVONXFV337N274VMDE3XSPDY

VITE_NETWORK=testnet
